body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

h1.title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

main.profiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.profile-card {
    background: #e0e0e0;
    width: 250px;
    padding: 1rem;
    border-radius: 1rem;
}

.profile-card > img {
    width: 100%;
    border-radius: 0.5rem;
}
